.container-forum {
  margin-top: 63px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-forum {
  width: 100%;
  padding: 30px;
  max-width: 900px;
}
