.container {
  margin-top: 100px;
  margin-left: 100px;
  padding: 10px;
  width: 100%;
  max-width: 1200px;
  display: flex; flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  max-width: 900px;
}
